<!DOCTYPE html>
<html lang="{{ props.language }}" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ nestedness }}css/root.css">
    <link rel="stylesheet" href="{{ nestedness }}css/base.css">
    <link rel="stylesheet" href="{{ nestedness }}css/custom.css">
    {% for stylesheet in styles %}
    <link rel="stylesheet" href="{{ nestedness }}css/{{ stylesheet }}.css">
    {% endfor %}
    {% endblock %}
    <title>{{ this_page }} | {{ props.title}}</title>
</head>
<body>
    <header>
        <nav>
            {% include 'page/logo.jinja' %}
            <div class="header__title">{{ props.title }}</div>
            <input type="checkbox" id="nav__toggle" class="nav__toggle">
            <label for="nav__toggle" class="nav__toggle__button">☰</label>
            <div class="nav__menu">
                <ul>
                    {% for section, href in hrefs_sections.items() %}
                    <li><a href="{{ nestedness }}{{ href }}" {% if section==this_section %}class="nav__active" {% endif %}>{{ section }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
        <div>
            <div>{{ breadcrumbs }}</div>
            {% block navigation %}{% endblock %}
        </div>
    </header>
    {% block aside %}{% endblock %}
    <main>
        <article>
            <h1 class="page__title">{{ this_page }}</h1>
            <hr>
            {% block content %}{% endblock %}
            <div class="timestamps">
                Aangemaakt: {{ ctime }} | laatst gewijzigd: {{ mtime }}
            </div>
        </article>
    {% include 'page/footer.jinja' %}
    </main>
<script>
    document.addEventListener('click', function (event) {
        let element = event.target;
        let isCopyable = element.classList.contains('copyable');
        if (isCopyable) {
            copyText(element, event.shiftKey)
        }
    })

    function copyText(element) {
        let to_copy = element.innerText
        navigator
        .clipboard.writeText(to_copy)
        .then( res => { console.log("gekopieerd naar klembord") } )
    }
</script>
{% block scripts %}{% endblock %}
</body>
</html>
{{ watermark }}
