<div class="card">
    <div class="card__colortab"></div>
    <div class="card__content">{% for key, val in content.items() %}
        <div class="card__content__category">{{ key }}</div>
        <div class="card__content__value">{{ val }}</div>
    {% endfor %}</div>
</div>
